
/* EN TETE */

.info {
	margin: 0 auto;
	min-height: 35px;
	padding-bottom: 6px;
	border-bottom: 1px solid rgb(220,220,220);
}



.info li {
	list-style-type: none;
    display: inline-block;
    padding: 3px;
}

.info li a {
	text-decoration: none;
	vertical-align: middle;	
}


.info img {
	padding-right: 5px;
	vertical-align: middle;
}

.info ul {
	margin: 0;
}

.info-Mail {
	border-left: 1px solid rgb(220,220,220);
	padding-left: 5px;
}


.right {
    float: right;
}

/* LOGO */

.logo {
	display: block;
}
