/* xxxxxxxxxxxxx Celine */
/* EN TETE */

header a {
	text-decoration: none;
	margin-bottom: 40px;
}

header {
	color: rgb(66,66,66);
}

header div{
	margin-bottom: 40px;
}

/*header div {
		    border: 1px solid red;
}*/

.info {
	margin: 0 auto;
	margin-bottom: 40px;
	min-height: 35px;
	padding-bottom: 6px;
	border-bottom: 1px solid rgb(220,220,220);
}



.info li {
	list-style-type: none;
    display: inline-block;
    padding: 10px;
	vertical-align: middle;	
}

.info li a {
	text-decoration: none;
	vertical-align: middle;	
}


.info img {
	padding-right: 5px;
	vertical-align: middle;
}

.info ul {
	margin: 0;
}

.info-Mail {
	border-left: 1px solid rgb(220,220,220);
}

li.info-Mail{
	padding-left: 14px;
}


.right {
    float: right;
}

/* LOGO */

.logo {
	display: block;
	width: 400px;
	float: left;
}

.logo img {
	float: left;
	margin-top: 4px;
	margin-right: 6px;
}


.logo h1 {
 font-weight: bold;
 font-size: 2.313em;
}

.main-Nav nav {
	float: left;
}

.main-Nav li {
	display: inline-block;
	font-weight: bold;
	padding: 20px 12px;
	vertical-align: middle;
}

.point {
background: url('assets/point.png') no-repeat;
padding-left: 15px;
}

.point img{
	height: auto;
}

.main-current {
	color: rgb(222,43,36);
}


.main-btn {
	float: right;
	text-align: center;
  text-shadow: 0 1px 1px;
  padding: 10px 25px;
  display: block;
  font-size: 1em;
  text-decoration: none;
  color: #fff;
background: #de2b24; /* Old browsers */
background: rgb(222,43,36);
border-radius: 4px;
}

/* MAIN BANNIERE */

.main-banniere {
	position: relative;
  margin: none;
  padding: none;
}

.main-banniere img {
	vertical-align: middle;
	height: auto;
	max-width: 100%;
}

.bann-absolute {
	width: auto;
	height: auto;
	position: absolute;
    left:0;
    right:0;
    margin : auto;
    bottom: 260px;
}

.bann-absolute > div {
    margin : auto;
}

.bann-absolute p {
	text-align: center;
	color: #fff;
}

.bann-button a {
  color: #FFF;
  text-decoration: none;
  padding: 2px 15px;
  background: rgb(248,205,83);
  font-size: 16px;
  border-radius: 8px;
  padding: 26px 50px;
  font-weight: bold;
}


.bann-title {
	font-size: 33px;
	font-weight: bold;
	margin-bottom: 14px:;
}

.bann-subtitle {
	font-size: 20px;
	margin-bottom: 60px;
}


/*Nicola*/
h1{font-size:2.313em;}
h2{font-size:2.5em;}
li{list-style: none;}

.block	{
	padding-top:100px;
	padding-bottom:100px;
}
.about {
	width:80%;
	margin-left:auto;
	margin-right:auto;
	}
.title h2 {
	display: block;
	text-align: center;
	}
.subtitle {
	text-align: center;
	margin-bottom: 16px
	}
.shape {
	display: block;
	height: 45px;
	background: url("assets/trait_noir.png") no-repeat top center scroll transparent;
	}
.vary {
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
	display: inline-block;
	width: 28.5%;
	}
.vary strong {
	font-size: 1.375em;
	display: block;
	}
.icone{
	display: block;
	height: 105px;
	}
.livre{
	background: url("assets/livre.png") no-repeat top center scroll transparent;
	}
.socialfb{
	background: url("assets/fb_2.png") no-repeat top center scroll transparent;
	}
.ads{
	background: url("assets/ads.png") no-repeat top center scroll transparent;
	}
.approach{
	background-color: #f3f3f3;
	}
.step {
	display: inline-block;
	margin-bottom: 45px;
	background-color: white;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.5);
	-moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.5);
	box-shadow:	0px 0px 5px 0px rgba(50, 50, 50, 0.5);
}
.step p{
	height: 240px;
	display: table-cell;
	vertical-align: middle;
}
.step_left p{
	padding-left: 40px;
	padding-right:50px;
	text-align: justify;
	direction: ltr;
}
.step_right p{
	padding-left: 50px;
	padding-right:40px;
	text-align: justify;
	direction: rtl;
}
.step_right strong {
	display: block;
	text-align: right;
}
.step_left strong {
	display: block;
	text-align: left;
}
.image_step_left{
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	float: left;
	text-align: left;
	width:43%;
	height: 240px;
}
.image_step_right{
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	float: right;
	text-align: right;
	width:44%;
	height: 240px;
}
.img1{
	background: url("assets/step_1.png") no-repeat top center scroll transparent;
	background-size: 100%;
}
.img2{
	background: url("assets/step_2.png") no-repeat top center scroll transparent;
		background-size: 100%;
}
.img3{
	background: url("assets/step_3.png") no-repeat top center scroll transparent;
		background-size: 100%;
}
.img4{
	background: url("assets/step_4.png") no-repeat top center scroll transparent;
		background-size: 100%;
}
/*Our work*/
.travails {
color: white;
background-color: #de2b24;
}
.travails .shape {
	display: block;
	height: 45px;
	background: url("assets/trait_blanc.png") no-repeat top center scroll transparent;
}
.worklist{
		width:80%;
	margin-left:auto;
	margin-right:auto;
}
.work{
	border: none;
	background-color: #f35e59;
	display: inline-block;	
	width: 50%;
	height: 250px;
}
.travails a{
	text-decoration: none;
	}
.image_work{
	display: inline-block;
	width: 50%;
	height: 250px;
	background-size: 100%;
}

.image_work.image1{
	background: url("assets/machine2.png") no-repeat top center scroll transparent;
}
.image_work.image2{
	background: url("assets/arbre.png") no-repeat top center scroll transparent;
}
.image_work.image3{
	background: url("assets/rue.png") no-repeat top center scroll transparent;
}
.image_work.image4{
	background: url("assets/pont.png") no-repeat top center scroll transparent;
}
.work strong{
	font-variant: normal;
	font-size:1.625em;
	}
.work_right p{
	background: url("assets/avion.png") no-repeat center scroll transparent;
	padding-top: 125px;
	width: 1%;
	display: table-cell;
	text-align: center;
}
.work_left p{
	background: url("assets/avion.png") no-repeat center scroll transparent;
	padding-top: 125px;
	width: 50%;
	text-align: center;
}
.work_left .image_work{
	float: right;
	}
.work_right .image_work{
	float: left;
	}




/* Gaelle */
.facebook {
	background: #1287bf;
	background-size: 1430px 851px;
	background-repeat: no-repeat;
	position: relative;
}

.analysis {
	background: #1287bf;
	background-size: 1430px 851px;
	background-repeat: no-repeat;
	padding-top: 110px;
	text-align: center;
	color: #fff;
	width: auto;
	height: 850px;
    left:0;
    right:0;
}

.formulaire {
background-image:url(assets/shape11.png);
background-repeat:no-repeat;
background-position:50% 50%;
margin-left: auto;
margin-right: auto;
color: rgb(64,64,64);
padding: 70px;
border-radius: 3px;
}

.formulaire input{
	padding-left: 10px;
	text-align: left;
	height: 55px;
	margin-bottom: 8px;
}

input.submit{
cursor: pointer;
margin-left: auto;
margin-right: auto;
display: block;
margin-top:35px;
padding-left: 25px;
padding-right:25px;
}

.case {
text-align: left;
margin-top: 30px;
}

.case p {
text-align: center;
}

.social {
	background: #2a2a2a;
	background-size: 1430px 493px;
	background-repeat: no-repeat;
display: block;
	color: #FFF;
	padding: 100px;
}
.social h2, .social p{text-align: center;}

.social ul {
	text-align: center;
	list-style: none;
}

.social li {
	display: inline-block;
	padding: 20px;
}

.submit {
	text-align: center;
	padding: 10px 25px;
	display: inline;
	font-size: 15px;
	color: #fff;
	background: #de2b24;
	border-radius: 4px;
	margin-top: 22px;
}

.email-put {
	cursor: pointer;
	text-align: center;
	border-radius: 4px;
	padding: 10px 25px;
	background: #2a2a2a;
	color: #FFF;
}

.email {
text-align: left;
background-color:#515151;
padding-left: 10px;
color: white;
height: 50px;
width: 700px;
margin: 50px;
}

.footer {
	height: 70px;
	text-align: center;
	background-color: #515151;
	color: #cecece;
}
.footer p {padding-top: 30px;}
