
/* EN TETE */

header a {
	text-decoration: none;
	margin-bottom: 40px;
}

header {
	color: rgb(66,66,66);
}

header div{
	margin-bottom: 40px;
}

/*header div {
		    border: 1px solid red;
}*/

.info {
	margin: 0 auto;
	margin-bottom: 40px;
	min-height: 35px;
	padding-bottom: 6px;
	border-bottom: 1px solid rgb(220,220,220);
}



.info li {
	list-style-type: none;
    display: inline-block;
    padding: 10px;
	vertical-align: middle;	
}

.info li a {
	text-decoration: none;
	vertical-align: middle;	
}


.info img {
	padding-right: 5px;
	vertical-align: middle;
}

.info ul {
	margin: 0;
}

.info-Mail {
	border-left: 1px solid rgb(220,220,220);
}

li.info-Mail{
	padding-left: 14px;
}


.right {
    float: right;
}

/* LOGO */

.logo {
	display: block;
	width: 400px;
	float: left;
}

.logo img {
	float: left;
	margin-top: 4px;
	margin-right: 6px;
}


.logo h1 {
 font-weight: bold;
 font-size: 2.313em;
}

.main-Nav nav {
	float: left;
}

.main-Nav li {
	display: inline-block;
	font-weight: bold;
	padding: 20px 12px;
	vertical-align: middle;
}

.point {
background: url('assets/point.png') no-repeat;
padding-left: 15px;
}

.point img{
	height: auto;
}

.main-current {
	color: rgb(222,43,36);
}


.main-btn {
	float: right;
	text-align: center;
  text-shadow: 0 1px 1px;
  padding: 10px 25px;
  display: block;
  font-size: 1em;
  text-decoration: none;
  color: #fff;
background: #de2b24; /* Old browsers */
background: rgb(222,43,36);
border-radius: 4px;
}

/* MAIN BANNIERE */

.main-banniere {
	position: relative;
  margin: none;
  padding: none;
}

.main-banniere img {
	vertical-align: middle;
	height: auto;
	max-width: 100%;
}

.bann-absolute {
	width: auto;
	height: auto;
	position: absolute;
    left:0;
    right:0;
    margin : auto;
    bottom: 260px;
}

.bann-absolute > div {
    margin : auto;
}

.bann-absolute p {
	text-align: center;
	color: #fff;
}

.bann-button a {
  color: #FFF;
  text-decoration: none;
  padding: 2px 15px;
  background: rgb(248,205,83);
  font-size: 16px;
  border-radius: 8px;
  padding: 26px 50px;
  font-weight: bold;
}


.bann-title {
	font-size: 33px;
	font-weight: bold;
	margin-bottom: 14px:;
}

.bann-subtitle {
	font-size: 20px;
	margin-bottom: 60px;
}


/* Gaelle */
.facebook {
	background: #1287bf;
	background-size: 1430px 851px;
	background-repeat: no-repeat;
	position: relative;
}

.analysis {
	background: #1287bf;
	background-size: 1430px 851px;
	background-repeat: no-repeat;
	padding-top: 110px;
	text-align: center;
	color: #fff;
	width: auto;
	height: 850px;
    left:0;
    right:0;
}

.formulaire {
background-image:url(assets/shape11.png);
background-repeat:no-repeat;
background-position:50% 50%;
margin-left: auto;
margin-right: auto;
color: rgb(64,64,64);
padding: 70px;
border-radius: 3px;
}

.formulaire input{
	padding-left: 10px;
	text-align: left;
	height: 55px;
	margin-bottom: 8px;
}

input.submit{
cursor: pointer;
margin-left: auto;
margin-right: auto;
display: block;
margin-top:35px;
padding-left: 25px;
padding-right:25px;
}

.case {
text-align: left;
margin-top: 30px;
}

.case p {
text-align: center;
}

.social {
	background: #2a2a2a;
	background-size: 1430px 493px;
	background-repeat: no-repeat;
display: block;
	color: #FFF;
	padding: 100px;
}
.social h2, .social p{text-align: center;}

.social ul {
	text-align: center;
	list-style: none;
}

.social li {
	display: inline-block;
	padding: 20px;
}

.submit {
	text-align: center;
	padding: 10px 25px;
	display: inline;
	font-size: 15px;
	color: #fff;
	background: #de2b24;
	border-radius: 4px;
	margin-top: 22px;
}

.email-put {
	cursor: pointer;
	text-align: center;
	border-radius: 4px;
	padding: 10px 25px;
	background: #2a2a2a;
	color: #FFF;
}

.email {
text-align: left;
background-color:#515151;
padding-left: 10px;
color: white;
height: 50px;
width: 700px;
margin: 50px;
}

.footer {
	height: 70px;
	text-align: center;
	background-color: #515151;
	color: #cecece;
}
.footer p {padding-top: 30px;}
